:root {
  --backgroundColor: rgb(148, 146, 146);
  --mainColor: rgb(1, 3, 84);
}
.main--div {
  display: flex;
  align-items: center;
  /* 수직 정렬 */
  flex-direction: row;
  /* default: row */
  justify-content: center;
  /* flex direction에 대해서 정렬방식 선택 */
}

.index-title {
  margin-bottom: 1.25rem;
  margin-top: 2.1875rem;
}

body {
  background-color: var(--backgroundColor);
}

input {
  background-color: var(--backgroundColor);
}

.main--div__input {
  display: flex;
  justify-content: center;
}
.btn {
  width: 24rem;
  text-decoration: none;
  font-size: 1rem;
  margin: 2rem;
  position: relative;
  padding: 1.25rem 1.875rem;
  text-align: center;
  background-color: var(--mainColor);
}

.btn-1 {
  overflow: hidden;
  color: #fff;
  border-radius: 1.875rem;
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-1::after {
  content: "";
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -40px;
  left: -300px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #000354 0%,
    #000354 50%,
    #000354 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn-1:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 #c0c0c0, -10px 10px 25px 0 #c0c0c0;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 28.125rem;
  background: var(--backgroundColor);
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.wrapper .input-data {
  height: 2.5rem;
  width: 100%;
  position: relative;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid var(--mainColor);
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 16px;
  color: var(--mainColor);
}

.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: var(--mainColor);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: var(--mainColor);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scaleX(1);
}
