div{
  display: flex;
  align-items: center;
  /* 수직 정렬 */
  flex-direction: row;
  /* default: row */
  justify-content: center;
  /* flex direction에 대해서 정렬방식 선택 */
}

.Boo{
  width: 300px;
  height: 300px;
}
.Country{
  border: solid 1px;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.canvas{
  border: solid 1px;
}
body{
background-color: rgb(148, 146, 146);

}