body
{
  background-color: rgb(218, 218, 211);
  display: flex;
}
  

.btn {
        text-align: center;
        position: absolute;
        margin-left: 400px;
        top: 670px; 
        height: 70px;
        width: 300px;
        overflow: hidden;
        background-color: #000354;
        color: #fff;
        font-size: 40px;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 0 0 0 0 #000354, 0 0 0 0 rgba(39, 200, 255, 0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }



.btn-1:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #c0c0c0,
    -10px 10px 25px 0 #c0c0c0;
}


#img1 {
  float: left;
  
} 

#introImg {
  position: absolute;
  margin: auto;
  margin-top: 90px;
  margin-left: 300px;
  border: 2px solid #000354; 
  border-radius: 15px;
}

#img2 {
  display: flex;
  width: 200px;
  height: 50px;
  margin: 25px; 
  margin-left: 450px; 
  margin-top: 30px;
  margin-bottom: 10px;
  
}

#img3 {
  
  position: absolute;
  margin: 520px;
  margin-left: 200px;
}
        

    /* color:black;

    background-color: silver;
    text-align: center;
    border: 3px solid black; 
    /* 버튼 테두리 */
    /* border-radius: 8px;
    padding: 10px 50px;  */
    /*padding으로 버튼 크게 (세로 가로) */

